.desktop147360-container {
  min-height: 100vh;
}
.desktop147360-desktop147360 {
  width: 100%;
  height: 1024px;
  display: flex;
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(1, 246, 128, 0.5);
}
.desktop147360-image {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1024px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.desktop147360-text {
  top: 30px;
  left: 476px;
  color: rgba(255, 255, 255, 1);
  width: 488px;
  height: 120px;
  position: absolute;
  font-size: 100px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: normal;
  text-align: center;
  font-family: Peralta;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
}
.desktop147360-svg {
  top: 797px;
  left: 671px;
  width: 20;
  height: 20;
  position: absolute;
}
.desktop147360-svg01 {
  top: 465px;
  left: 979px;
  width: 20;
  height: 20;
  position: absolute;
}
.desktop147360-svg02 {
  top: 492px;
  left: 954px;
  width: 20;
  height: 20;
  position: absolute;
}
.desktop147360-svg03 {
  top: 877px;
  left: 635px;
  width: 20;
  height: 20;
  position: absolute;
}
.desktop147360-svg04 {
  top: 263px;
  left: 1201px;
  width: 20;
  height: 20;
  position: absolute;
}
.desktop147360-svg05 {
  top: 389px;
  left: 1211px;
  width: 20;
  height: 20;
  position: absolute;
}
.desktop147360-svg06 {
  top: 283px;
  left: 1133px;
  width: 20;
  height: 20;
  position: absolute;
}
.desktop147360-svg07 {
  top: 150px;
  left: 1247px;
  width: 20;
  height: 20;
  position: absolute;
}
.desktop147360-svg08 {
  top: 492px;
  left: 1309px;
  width: 20;
  height: 20;
  position: absolute;
}
.desktop147360-svg09 {
  top: 359px;
  left: 1299px;
  width: 20;
  height: 20;
  position: absolute;
}
.desktop147360-svg10 {
  top: 565px;
  left: 974px;
  width: 20;
  height: 20;
  position: absolute;
}
.desktop147360-svg11 {
  top: 629px;
  left: 949px;
  width: 20;
  height: 20;
  position: absolute;
}
.desktop147360-svg12 {
  top: 575px;
  left: 917px;
  width: 20;
  height: 20;
  position: absolute;
}
.desktop147360-svg13 {
  top: 629px;
  left: 1067px;
  width: 20;
  height: 20;
  position: absolute;
}
.desktop147360-svg14 {
  top: 502px;
  left: 1133px;
  width: 20;
  height: 20;
  position: absolute;
}
.desktop147360-svg15 {
  top: 445px;
  left: 1087px;
  width: 20;
  height: 20;
  position: absolute;
}
.desktop147360-svg16 {
  top: 445px;
  left: 1181px;
  width: 20;
  height: 20;
  position: absolute;
}
.desktop147360-svg17 {
  top: 839px;
  left: 737px;
  width: 20;
  height: 20;
  position: absolute;
}
.desktop147360-svg18 {
  top: 673px;
  left: 789px;
  width: 20;
  height: 20;
  position: absolute;
}
.desktop147360-svg19 {
  top: 629px;
  left: 949px;
  width: 20;
  height: 20;
  position: absolute;
}
.desktop147360-svg20 {
  top: 745px;
  left: 789px;
  width: 20;
  height: 20;
  position: absolute;
}
.desktop147360-svg21 {
  top: 887px;
  left: 831px;
  width: 20;
  height: 20;
  position: absolute;
}
